footer {
    background-color: dimgray;
    height: 150px;
    margin: 10px;
}

p::first-line {
    color: red;

}

P::first-letter {
    font-size: 5rem;
}

h1::first-letter {
    color: blue;
    font-size: 5rem;
}

.index {

    text-decoration: none;
    border: 2px solid white;
    color: white;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background: red;
}

.index:hover {
    background: white;
    color: red;
    border: 2px solid red;
}

li {
    list-style: none;
}

/*
li::before{
    content: "A ";
    color: brown;
}*/
li::before {
    content: " ";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../../fullStack-progBR/imagens/google.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p::selection {
    background-color: green;
    color: brown;
}

/*Página Seletores*/
p {
    background-color: green;
}

div {
    background-color: brown;
}

/*
*{
    margin: 0;
}*/
/*Página Funçao Calc*/
body {
    margin: 0;
    padding: 0;
    background-color: cyan;
}

.container {
    width: 100%;
    background-color: blue;
}

.primeira {
    display: inline-block;
    width: calc(100% - 300px);
    margin-right: -4px;
    margin-bottom: -4px;
    height: 300px;
    background-color: yellow;

}

.segunda {
    display: inline-block;
    margin-right: -4px;
    margin-bottom: -4px;
    width: 300px;
    height: 300px;
    background-color: red;

}

.terceira {
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% - 200px);
    height: 100px;
    background-color: darkgoldenrod;
    margin: auto;

}

/*Página transformação*/
#image {
    width: 150px;
}

.div1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 150px;
    height: 150px;
    transform: scale(0.5, 1);
}

.div2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);

}

.div3 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 150px;
    height: 150px;
    transform: rotate(-45deg);

}

.div4 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 150px;
    height: 150px;
    transform: skew(45deg);

}

.div5 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 150px;
    height: 150px;
    transform: skew(-45deg);

}

.div6 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 150px;
    height: 150px;
    transform: skew(30deg, 15deg) scale(0.7, 1);

}

.dvBtn {
    margin-top: 10px;
    margin-bottom: 20px;
}

/*Página Variáveis*/
:root {
    --var-h-color: black;
    --var-p-color: blue;
    --background-p-collor: blueviolet;
    --background-q-collor: black;
    --background-g-collor: gray;
    --squar-size-a: 100px;
    --squar-size-b:200px;
}

.h {
    background-color: bisque;
    color: var(--var-h-color);

}

.pv1 {
    background-color: var(--background-p-collor);
    color: var(--var-h-color);
    height: var(--squar-size);
    width: var(--squar-size-a);
}

.pv2 {
    background-color: var(--background-q-collor);
    color: var(--var-h-color);
    height:var(--squar-size-b);
    width: var(--squar-size-b);
}

.pv3 {
    background-color: var(--background-p-collor);
    color: var(--var-p-color);
}

.pv4 {
    background-color: var(--background-g-collor);
    color: var(--var-p-color);
}
.pv5 {
    background-color: var(--background-q-collor);
    color: var(--var-h-color);
}

.pv6 {
    background-color: var(--background-p-collor);
    color: var(--var-p-color);
}