/*Style Página Index*/
body{
    background-color: lightsteelblue;
}
.pPrincipal{
    color: blue;
    text-align: center;
    
}
.pProjeto1{
    text-align: center;
}
.formatacao{
    background-color: lightslategray;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 0.1px ;
}
.divPrincipal{
    border-radius: 1%;
    background-color: blueviolet;
    padding-top: 1%;
    padding: 1%;
   
}
.proj2{
    
    margin: auto;
    text-decoration: none;
    border: 2px solid red;
    color: red;
    padding: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background: white;
    background-size: auto;
}
.bloc{
  
    border-radius: 5px;
    border:1px solid red;
}
.aulas{
    margin-left: 10px;
    text-decoration: none;
    border: 2px solid red;
    color: red;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background: white;
    background-size: auto;
}

.proj2:hover{
    background: red;
    color: white;
    border: 2px solid white;
}
    
.desafios{
    margin-left: 10px;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background: red;
}
.desafios:hover{

    background: white;
    color: red;
    border: 2px solid red;
}
.aulas:hover{
    background: red;
    color: white;
    border: 2px solid white;
}
.projeto{
    text-align: center;
}
.divProjeto1{
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 1px solid black;
    width: 45%;
    height: 200px;
    background-color: lightskyblue;
    border-radius: 5px;
 
}
.divProjeto2{
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 1px solid black;
    width: 45%;
    height:200px;
    background-color: lightskyblue;
    border-radius: 5px;

 
}

.menu1{
    margin-top: 10px;
    align-items: center;
    
}
.btn-2{
    margin-top: 20px;
}