.index {

    text-decoration: none;
    border: 2px solid white;
    color: white;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background: red;
}

.index:hover {
    background: white;
    color: red;
    border: 2px solid red;
}

body {
    background-color: lightsteelblue;
}

/*Style Página desafio1*/
.cartao {
    border-radius: 5px;
    text-align: center;
    color: blue;
    background-color: antiquewhite;
}

.divPrincipal {
    background: url(../../imagens/backgorund.png) no-repeat;
    border-radius: 5px;
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    background-size: cover;
    margin: auto;
    padding: 1px 20px;
    margin-top: 5%;
}

.tgaA {
    text-decoration: none;
    color: black;
}

.isntagram {
    list-style-image: url(../../imagens/Insta.png);
}

.twiter {
    list-style-image: url(../../imagens/Twitter.png);
}

.youtube {
    list-style-image: url(../../imagens/Youtube.png);
}

/*Style Página medidasCss*/
#base {
    background-color: brown;
    padding: 10px;
}

#container {
    background-color: blue;
    color: azure;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 30px;
    margin-block-end: 5px;
}

#container2 {
    background-color: darkgreen;
    color: azure;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 5px;
}

#cm {
    background-color: darkgray;
    width: 1cm;
    height: 1cm;
}

#mm {
    background-color: black;
    width: 1mm;
    height: 1mm;
}

#in {
    background-color: red;
    width: 1in;
    height: 1in;
}

#px {
    background-color: darkorange;
    width: 10px;
    height: 10px;
}

#pt {
    background-color: blue;
    width: 10pt;
    height: 10pt;
}

#pc {
    background-color: currentColor;
    width: 10pc;
    height: 10pc;
}

/*Style Página Formatação*/
.indexPg1 {
    background-color: cornflowerblue;
}

.divi1 {
    background-color: aqua;
    color: black;
}

.div2 {
    background-color: blueviolet;
    color: blue;
}

.div3 {
    background-color: brown;
}

.div4 {
    background-color: black;
    color: aliceblue;
}

.imag1 {
    background-color: darkkhaki;
}


/*Style Página Desafio*/
.principal {
    background-color: aquamarine;

}

#dadosPessoais {
    color: blue;
}

.informacoes {
    color: brown;

}

/*Style Página BorderBox*/
.container {
    background-color: coral;
    padding: 5px;
    border: 5px solid blue;
}

.content {
    background-color: aqua;
    border: 5px solid green;
    padding: 5px;
}

.square {
    width: 150px;
    height: 150px;
    border: 10px solid blue;

    background-color: yellow;
}

#meuParagrafo {
    color: darkmagenta;
    text-align: center;
}