body{
    font-size: 1.2rem;
}
.index{
    
    text-decoration: none;
    border: 2px solid white;
    color: white;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background: red;
}
.index:hover{
    background: white;
    color: red;
    border: 2px solid red;
}